{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div class="blog_post">
      <div class="img_pod">
        <img src="(https://pbs.twimg.com/profile_images/890901007387025408/oztASP4n.jpg)" alt="random image">
      </div>
      <div class="container_copy">
        <h3>12 January 2019</h3>
        <h1>Info</h1>
        <p>
           a store that sells food and household supplies : supermarket". In other words, in common U.S. usage, "grocery store" is a synonym for supermarket.</p>
      </div>
      <a class="btn_primary" href='#'>Read More</a>
    </div>
  </div>


</body>
</html>